
language: python

python:
    - 3.3

env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py32
  - TOX_ENV=py33
  - TOX_ENV=pypy
  - TOX_ENV=flake
  - TOX_ENV=cover

install:
  - pip install tox

script:
  - tox -e $TOX_ENV

after_script:
  - if [ $TOX_ENV == "cover" ]; then
    pip install --quiet coveralls;
    coveralls;
    fi
